<div class="form-area">
  <h1 [class.text-red]="bool">Angular app</h1>
  <h1 [style.color]="bool ? 'red' : 'blue'">Style Binding</h1>
  <p>{{ stringMessage }}</p>
  <p>{{ 9 + 6 }}</p>
  <p>{{ message }}</p>
  <app-navbar></app-navbar>
  <!-- property Binding  -->
  <img src="{{ imgUrl }}" alt="" height="100px" />
  <br /><br />
  <img [src]="imgUrl" alt="" height="100px" />
  <br /><br />
  <!-- event binding -->
  <button (click)="buttonClick()">Click me</button>
  <br /><br />
  <!-- Event Filtering  -->
  <!-- <input type="text" (keyup.enter)="onKeyup(username.value)" #username /> -->

  <br />
  <br />
  <input type="text" [(ngModel)]="userName" (keyup.enter)="onKeyup()" />
  <app-post
    [fromParent]="parentMessage"
    [secondParent]="secondMessage"
    [lastParent]="lastMessage"
    (messageEvent)="reciveMessage($event)"
    (postEvent)="submitMessage($event)"
  ></app-post>

  <p>{{ outputMess }}</p>
  <p>{{ secondoutput }}</p>
</div>

<div class="form-area">
  <h1>Post Form</h1>
  <input type="text" placeholder="Post Title" [(ngModel)]="postTitle" />
  <br />
  <br />
  <textarea
    placeholder="Post detials"
    name=""
    id=""
    cols="30"
    rows="10"
    [(ngModel)]="postDetails"
  ></textarea>
  <br />
  <br />
  <input type="text" placeholder="Post Image URL" [(ngModel)]="imageURL" />
  <br />
  <br />
  <input type="text" placeholder="Post URL" [(ngModel)]="postURL" />
  <br />
  <br />
  <input type="checkbox" [(ngModel)]="addBackground" /> Add Background
  <br />
  <br />
</div>

<div class="preview-area">
  <img [src]="imageURL" alt="" />
  <h1>
    <span [class.add-background]="addBackground"> {{ postTitle }}</span>
  </h1>
  <p>{{ postDetails }}</p>
  <a
    [href]="postURL"
    target="_blank"
    [style.display]="postURL ? 'block' : 'none'"
  >
    More Detials
  </a>
</div>
